/.idea
/.venv
/skills_use_sample
/temporal_sample
/Web_Search_Sample.py
/Web_Search_Sample_v2.py
/__pycache__
/update.md
/database/database.db
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
